COMMERCIAL;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
# ECP3 PCIE Solution Board I/O Bank Voltages
BANK 0 VCCIO 1.5 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
# BANK 4 - not used
# BANK 5 - not used
BANK 6 VCCIO 3.3 V;
BANK 7 VCCIO 1.5 V;
BANK 8 VCCIO 3.3 V;

SYSCONFIG PERSISTENT=OFF CONFIG_MODE=SPI DONE_EX=OFF MCCLK_FREQ=20 CONFIG_SECURE=OFF WAKE_UP=21 WAKE_ON_LOCK=OFF COMPRESS_CONFIG=OFF ENABLE_NDR=OFF CONFIG_IOVOLTAGE=3.3 ;

##########################################################################
## FREQUENCIES AND TIMING
##########################################################################
FREQUENCY PORT "clk_in" 100.000000 MHz ;
FREQUENCY PORT "clk125" 125.000000 MHz ;					# 125 MHz
FREQUENCY NET "clk_in_c" 100.000000 MHz ;
FREQUENCY NET "clkm" 100.00000 MHz PAR_ADJ 10.000000 ;
USE PRIMARY PURE NET "clkm" ;

BLOCK PATH FROM PORT "reset_n" ;

# Preference for GigE rates
FREQUENCY NET "txc_c" 125.0 MHz ;
FREQUENCY NET "rxc_c" 125.0 MHz ;
FREQUENCY NET "mdc_c" 10.0 MHz ;
USE PRIMARY NET "clk_in" ;
USE SECONDARY NET "clk125" ;

BLOCK PATH FROM CLKNET "clkm" TO CLKNET "mdc_c" ;
#---------------------------------------------------------------
# GMII TIMING CONSTRAINTS
#---------------------------------------------------------------
## GMII input signals
## Input setup and hold
## This preference satisfies/checks that the RX input signals have enough setup
## time and hold.  That the data is is centered and stabled on the rising edge
## of the internal rxc.  This preference has been checked/verified on the
## Versa hardware with the Marvell PHY
DEFINE PORT GROUP "TSU_GRP" "rx_dv" "rx_er" "rx_d*";
INPUT_SETUP GROUP "TSU_GRP" 2.500000 ns HOLD 3.0 ns CLKPORT "rxc" ;

## GMII output signals
## Output Clock to Out
## This preference satisfies/checks that the TX output signals have enough setup
## time and hold to the PHY in 1000BaseT mode. The data is is centered and stabled on the rising edge
## of the output gtxclk.  This preference has been checked/verified on the
## Versa hardware with the Marvell PHY
DEFINE PORT GROUP "TCO_GRP" "tx_en" "tx_d*";
CLOCK_TO_OUT GROUP "TCO_GRP" OUTPUT_DELAY 2.500000 ns CLKPORT "clk125" CLKOUT PORT "gtxclk" ;

##########################################################################
## LOCATE FOR CLOCK, RESET
##########################################################################
LOCATE COMP "clk_in" SITE "L5" ;
LOCATE COMP "reset_n" SITE "A21" ;

##########################################################################
## LOCATE UART SIGNALS
##########################################################################
#AHB DSU UART - ROUTED ON THE FTDI CHIP
LOCATE COMP "dsurx" SITE "G19" ;  					# from the FTDI chip
LOCATE COMP "dsutx" SITE "G20" ; 					# to the FTDI chip
#AHB DSU UART - ROUTED ON EXPANSION CONNECTOR
#LOCATE COMP "dsurx" SITE "D17" ;
#LOCATE COMP "dsutx" SITE "J22" ;
#APB UART - ROUTED ON EXPANSION CONNECTOR
LOCATE COMP "rxd1" SITE "K22" ;
LOCATE COMP "txd1" SITE "L18" ;

##########################################################################
## LOCATE ETHERNET/MAC SIGNALS PHY#2
##########################################################################
LOCATE COMP "rstn" SITE "R21" ;
LOCATE COMP "clk125" SITE "R17" ;  					# 125 MHz clock from Marvel 88E1119R Gigabit Ethernet transceiver device
LOCATE COMP "gtxclk" SITE "M19" ;
LOCATE COMP "rxc" SITE "N19" ;
LOCATE COMP "rx_d_0" SITE "AB17" ;
LOCATE COMP "rx_d_1" SITE "AA17" ;
LOCATE COMP "rx_d_2" SITE "R19" ;
LOCATE COMP "rx_d_3" SITE "V21" ;
LOCATE COMP "rx_d_4" SITE "T17" ;
LOCATE COMP "rx_d_5" SITE "R18" ;
LOCATE COMP "rx_d_6" SITE "W21" ;
LOCATE COMP "rx_d_6" SITE "Y21" ;
LOCATE COMP "rx_dv" SITE "U15" ;
LOCATE COMP "rx_er" SITE "V20" ;
LOCATE COMP "col" SITE "N18" ;
LOCATE COMP "crs" SITE "P19" ;
LOCATE COMP "txc" SITE "M21" ;
LOCATE COMP "tx_d_0" SITE "W22" ;
LOCATE COMP "tx_d_1" SITE "R16" ;
LOCATE COMP "tx_d_2" SITE "P17" ;
LOCATE COMP "tx_d_3" SITE "Y22" ;
LOCATE COMP "tx_d_4" SITE "T21" ;
LOCATE COMP "tx_d_5" SITE "U22" ;
LOCATE COMP "tx_d_6" SITE "P20" ;
LOCATE COMP "tx_d_7" SITE "U20" ;
LOCATE COMP "tx_en" SITE "V22" ;
LOCATE COMP "mdio" SITE "U16" ;
LOCATE COMP "mdc" SITE "Y18" ;

###############################################################################################
## LOCATE DEMO LOGIC
###############################################################################################
#NOT USED YET
#LOCATE COMP "dip_switch_0" SITE "J7" ;
#LOCATE COMP "dip_switch_1" SITE "J6" ;
#LOCATE COMP "dip_switch_2" SITE "H2" ;
#LOCATE COMP "dip_switch_3" SITE "H3" ;
#LOCATE COMP "dip_switch_4" SITE "J3" ;
#LOCATE COMP "dip_switch_5" SITE "K3" ;
#LOCATE COMP "dip_switch_6" SITE "J2" ;
#LOCATE COMP "dip_switch_7" SITE "J1" ;

LOCATE COMP "led_0" SITE "U19" ;					# green
LOCATE COMP "led_1" SITE "U18" ;					# green
LOCATE COMP "led_2" SITE "AA21" ;					# yellow
LOCATE COMP "led_3" SITE "Y20" ;					# yellow
LOCATE COMP "led_4" SITE "W19" ;					# red
LOCATE COMP "led_5" SITE "V19" ;					# red
LOCATE COMP "led_6" SITE "AB20" ;					# blue
LOCATE COMP "led_7" SITE "AA20" ;					# blue

LOCATE COMP "seg14_led_out_0" SITE "V6" ; 
LOCATE COMP "seg14_led_out_1" SITE "U7" ; 
LOCATE COMP "seg14_led_out_2" SITE "Y6" ; 
LOCATE COMP "seg14_led_out_3" SITE "AA6" ;
LOCATE COMP "seg14_led_out_4" SITE "U8" ; 
LOCATE COMP "seg14_led_out_5" SITE "T8" ; 
LOCATE COMP "seg14_led_out_6" SITE "R9" ;
LOCATE COMP "seg14_led_out_7" SITE "T9" ;  
LOCATE COMP "seg14_led_out_8" SITE "AB3" ; 
LOCATE COMP "seg14_led_out_9" SITE "AB4" ; 
LOCATE COMP "seg14_led_out_10" SITE "W4" ;  
LOCATE COMP "seg14_led_out_11" SITE "Y5" ;  
LOCATE COMP "seg14_led_out_12" SITE "AA4" ; 
LOCATE COMP "seg14_led_out_13" SITE "AA5" ; 
LOCATE COMP "seg14_led_out_14" SITE "W5" ;


##########################################################################
##########################################################################
# IO BUFFER PREFERENCES
##########################################################################
##########################################################################

IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;

##########################################################################
# CLOCK, RESET
##########################################################################
#----- Override ------
IOBUF PORT "clk_in" IO_TYPE=LVDS25 DIFFRESISTOR=100 ;
IOBUF PORT "reset_n" IO_TYPE=LVCMOS33 DIFFRESISTOR=OFF ;

##########################################################################
## UART SIGNALS
##########################################################################
#AHB DSU UART - ROUTED ON THE FTDI CHIP
IOBUF PORT "dsurx" SITE=G19 IO_TYPE=LVCMOS33 ;  			# from the FTDI chip
IOBUF PORT "dsutx" SITE=G20 IO_TYPE=LVCMOS33 ; 				# to the FTDI chip
#AHB DSU UART - ROUTED ON EXPANSION CONNECTOR
#IOBUF PORT "dsurx" SITE=D17 IO_TYPE=LVCMOS33 ;
#IOBUF PORT "dsutx" SITE=J22 IO_TYPE=LVCMOS33 ;
#APB UART - ROUTED ON EXPANSION CONNECTOR
IOBUF PORT "rxd1" SITE=K22 IO_TYPE=LVCMOS33 ;
IOBUF PORT "txd1" SITE=L18 IO_TYPE=LVCMOS33 ;

##########################################################################
## ETHERNET/MAC PHY#1
##########################################################################
IOBUF PORT "rx_d_0" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "rx_d_1" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "rx_d_2" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "rx_d_3" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "rx_d_4" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "rx_d_5" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "rx_d_6" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "rx_d_7" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

##########################################################################
# DIP SWITCHES
##########################################################################
#IOBUF PORT "dip_switch_0" SITE=J7 IO_TYPE=LVCMOS15 ;
#IOBUF PORT "dip_switch_1" SITE=J6 IO_TYPE=LVCMOS15 ;
#IOBUF PORT "dip_switch_2" SITE=H2 IO_TYPE=LVCMOS15 ;
#IOBUF PORT "dip_switch_3" SITE=H3 IO_TYPE=LVCMOS15 ;
#IOBUF PORT "dip_switch_4" SITE=J3 IO_TYPE=LVCMOS15 ;
#IOBUF PORT "dip_switch_5" SITE=K3 IO_TYPE=LVCMOS15 ;
#IOBUF PORT "dip_switch_6" SITE=J2 IO_TYPE=LVCMOS15 ;
#IOBUF PORT "dip_switch_7" SITE=J1 IO_TYPE=LVCMOS15 ;

##########################################################################
# STATUS LEDS
##########################################################################
IOBUF PORT "led_0" SITE=U19 IO_TYPE=LVCMOS33 	;			#led(0)
IOBUF PORT "led_1" SITE=U18 IO_TYPE=LVCMOS33 	;			#led(1)
IOBUF PORT "led_2" SITE=AA21 IO_TYPE=LVCMOS33 	;			#led(2)
IOBUF PORT "led_3" SITE=Y20 IO_TYPE=LVCMOS33 	;			#led(3)
IOBUF PORT "led_4" SITE=W19 IO_TYPE=LVCMOS33 	;			#led(4)
IOBUF PORT "led_5" SITE=V19 IO_TYPE=LVCMOS33 	;			#led(5)
IOBUF PORT "led_6" SITE=AB20 IO_TYPE=LVCMOS33 	;			#led(6)
IOBUF PORT "led_7" SITE=AA20 IO_TYPE=LVCMOS33 	;			#led(7)

##########################################################################
# 14 SEGMENT LEDS
##########################################################################
IOBUF PORT "seg14_led_out_0" SITE=V6 IO_TYPE=LVCMOS33 	;		# A
IOBUF PORT "seg14_led_out_1" SITE=U7 IO_TYPE=LVCMOS33 	;		# B
IOBUF PORT "seg14_led_out_2" SITE=Y6 IO_TYPE=LVCMOS33 	;		# C
IOBUF PORT "seg14_led_out_3" SITE=AA6 IO_TYPE=LVCMOS33 	;		# D
IOBUF PORT "seg14_led_out_4" SITE=U8 IO_TYPE=LVCMOS33 	;		# E
IOBUF PORT "seg14_led_out_5" SITE=T8 IO_TYPE=LVCMOS33 	;		# F
IOBUF PORT "seg14_led_out_6" SITE=R9 IO_TYPE=LVCMOS33 	;		# G
IOBUF PORT "seg14_led_out_7" SITE=T9 IO_TYPE=LVCMOS33 	;		# H
IOBUF PORT "seg14_led_out_8" SITE=AB3 IO_TYPE=LVCMOS33 	;		# J
IOBUF PORT "seg14_led_out_9" SITE=AB4 IO_TYPE=LVCMOS33 	;		# K
IOBUF PORT "seg14_led_out_10" SITE=W4 IO_TYPE=LVCMOS33 	;		# L
IOBUF PORT "seg14_led_out_11" SITE=Y5 IO_TYPE=LVCMOS33 	;		# M
IOBUF PORT "seg14_led_out_12" SITE=AA4 IO_TYPE=LVCMOS33 ;		# N
IOBUF PORT "seg14_led_out_13" SITE=AA5 IO_TYPE=LVCMOS33 ;		# P
IOBUF PORT "seg14_led_out_14" SITE=W5 IO_TYPE=LVCMOS33 	;		# DP

