menuconfig UART_APBUART
	bool "ABPUART driver"
	depends on LEON || SOC_RISCV64_GRLIB_NOELV
	select SERIAL_HAS_DRIVER 
	help 
	  This option enables the UARTx driver for Leon processors. 

config APBUART0
	bool "Enable APBUART0"
	depends on UART_APBUART
	help 
	  Enable APBUART0 at boot.
