#
# Copyright (c) 2018 - 2019 Antmicro <www.antmicro.com>
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_RISCV64_GRLIB_NOELV

config SOC
	string
	default "grlib-noelv"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 100000000

config RISCV_HAS_CPU_IDLE
	bool

config RISCV_HAS_PLIC
	bool

config NUM_IRQS
	int
	default 16

CONFIG_64BIT=y

endif # SOC_RISCV64_GRLIB_NOELV
